main {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #a6f3e0;
  font-weight: 200;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--light);
  font-family: 'Verdana', sans-serif;
}

.container {
  display: block;
  width: 85%;
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin: 30px auto auto;
  padding: 10px 20px;
  max-width: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158);
}

.hero {
  background-size: 200%;
  background-position: 60%;
  background-repeat: no-repeat;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

header a {
  color: var(--light);
}

header {
  box-sizing: border-box;
  background: var(--dark);
  width: 100%;
  height: 50px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top: 0px;
}

nav {
  display: flex;
  margin: 0 !important;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.navActive {
  color: var(--secondary);
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background: #b7f7d2a1;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center; /* or align to left?*/
}

.socials {
  width: auto;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.icon-list {
  position: absolute;
  width: 100%;
}

.flex-row {
  width: 100%;
}

.flex-end {
  justify-content: flex-end;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

textarea {
  width: 100%;
  border: 3px solid #cccccc;
  padding: 5px;
}

.space-between {
  justify-content: space-between;
}

.margin-block {
  margin: 0 1rem;
}

.titles {
  text-align: center;
  font-family: 'Verdana', sans-serif;
}

button {
  background: var(--tertiary);
  color: var(--primary);
  margin-bottom: 30px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card-body {
  color: hsla(157, 74%, 60%, 0.137);
}

.card-title{
  font-weight: bold;
  text-decoration: underline;
}

.card-text {
  font-weight: bold;
}

.headshot {
  max-width: 100%;
  margin: 0;
}

.resume-button {
  margin: 0 auto; 
  display: table;
}

.img-box {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.img-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 5%;
}

span[role='img'] {
  cursor: default;
}

li {
  list-style: circle;
}

form {
  width: 100%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  width: 100%;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.253);
}





/* ADD MEDIA QUERIES for 980px , 768px, 575px*/