main {
  margin: 0 auto;
}

:root {
  --primary: #FFFCF7;
  --secondary: #A1B5D8;
  --tertiary: #738290;
  --light: #d7dad2;
  --dark: #0000008f;
  --darker: #111111b4;
  --error: rgba(247, 86, 46, 0.849);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #575a59b0;
  font-weight: 200;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--light);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: block;
  width: 85%;
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 30px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin: 30px auto auto;
  padding: 10px 20px;
  max-width: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.158);
}

.hero {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 9999;
  height: 1000px;
  width: 100%;
  background-image: url('../src/assets/jumbo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; /*background-position: CHANGE TO 80-90% IF NEEDED*/
}

a {
  color: var(--tertiary);
  font-weight: 100;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a {
  color: var(--light);
}

header {
  box-sizing: border-box;
  background: var(--dark);
  width: 100%;
  height: 50px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top: 0px;
}

nav {
  display: flex;
  margin: 0 !important;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.navActive {
  color: var(--secondary);
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.noBullet{
  list-style: none;
}
footer {
  background: #474747;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center; /* or align to left?*/
}

.socials {
  display: flex;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.tab-line {
  position: fixed;
  /* margin-bottom: 0px; */
  height: 50px;
  bottom: 47%;
  left: 0px;
  right: 0px;
}

.flex-row {
  flex-wrap: wrap;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

hr {
  width: 60%;
  height: 3px !important; 
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 100%;
  border: 3px solid #cccccc;
  padding: 5px;
}

.space-between {
  justify-content: space-between;
}

.margin-block {
  margin: 0 1rem;
}

.titles {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white
}

button {
  background: var(--tertiary);
  color: var(--primary);
  margin-bottom: 30px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;  
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card-body {
  color: hsl(0, 0%, 0%);
  justify-content: center;
}
/* .card-body {
  color: hsla(157, 74%, 60%, 0.137);
} */

.card-title{
  font-weight: bold;
  text-decoration: underline;
}

.card-text {
  font-weight: bold;
}

.border-line {
  border-bottom: 3px white; 
}

.headshot {
  max-width: 500%;
  width: auto;
  height: 464px;
}

.get-resume {
  margin: 0 auto; 
  display: table;
}

.img-box {
  display: flex;
  justify-content: center;
  padding-left: 300px;
  /* padding-right: 200px; */

}

img {
  max-width: 100%;
}

.img-text-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding: 50px 50px;
}

span[role='img'] {
  cursor: default;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

li {
  list-style: circle;
}

form {
  width: 100%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  width: 100%;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.253);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 30px;
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

/* MEDIA QUERIES for 980px */
@media screen and (max-width: 980px) {
  .hero {
    background-size: cover;
    background-image: url('../src/assets/smalljumbo.jpg');
    height: 1400px;
  }

  .margin-block {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 0 3% 3%;
      padding: 0 5%;
  }

  .img-box {
    display: flex;
    justify-content: center;
  }

  .img-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 5%;
  }

  .headshot {
    width: 40%;
    height: 40%;
  }
}


/* MEDIA QUERIES for 768px*/
@media screen and (max-width: 768px) {
  .card {
    width: 80%;
  }

  .flex-row {
    width: 100%;
  }

  .nav-row {
    flex-wrap: nowrap;
    background-color: #000000;
    width: 100%;
    padding-left: 0;
  }

  .box{
    max-width: 10%;
    min-width: 80%;
    margin: 5px auto auto;
    font-size: .8rem;
  }
}

/* MEDIA QUERIES for 575px*/
@media screen and (max-width: 575px) {
  .hero {
    background-repeat: no-repeat;
    background-position: 65%;
    height: 1000px;
  }

  .headshot {
    max-width: 100%;
    margin: 0;
  }

  .my-2 {
    margin: 0;
    font-size: 10px;
    line-height: 1;
    width: 100%;
  }

  .img-text-box {
    margin: 0;
  }

  .contacts {
    font-size: 1rem;
  }

  footer {
    height: 25px;
    font-size: .75rem;
    z-index: 999;
  }

  .socials {
    background-color: rgba(255, 255, 255, 0.144);
    width: auto;
    padding: 8px;
  }

  .name {
    margin-left: 20px;
  }

 .textBox{
   padding: 500px;
   margin-left: 20px;
 } 
  .social-line {
    width: 100%;
    position: absolute;
  }


  ol, ul {
    padding-left: none;
    list-style-type: none;
  }

  h2 {
        font-size: 1.5rem;
    }

  h1 {
    font-size: 2rem;
  }

  nav li {
    font-size: .75rem;
  }

  .px-1 {
    padding-right: 0;
    padding-left: 0;
  }
}